body{
    background:#00A0D7;
}

.reg-container{
    margin-top:100px;
}

.reg-form{
    text-color:black;
}

.codrops-header-special{
    color:initial;
    height:initial;
}

.reg-container{
}

::-webkit-scrollbar {
    display: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button {
  -moz-apperarance: none;
  margin: 0;
}

input[type=number]::-ms-inner-spin-button,
input[type=number]::-ms-outer-spin-button {
  -ms-apperarance: none;
  margin: 0;
}

input[type=number]::inner-spin-button,
input[type=number]::outer-spin-button {
   appearance: none;
  margin: 0;
}
