body {
	background:radial-gradient(circle, #1a82f7, #2F2727);
	padding-top: 75px;
	overflow: scroll;
}

#whiteheadin {
	text-align: center;
	color: white;
}
.currmem {
	font-size: 4vh;
	color: #fff;
	text-align: center;
}

.teamdetails {
	margin-top: 30px;
	padding: auto;
	font-size: 15px;
}

.memberstable {
	margin-top: 50px;
	padding: auto;
	font-size: 12px;
}

.memberdetails {
	margin-top: 10px;
	padding: auto;
	font-size: 12px;
}

.teamtableformat {
	width: 30%;
	margin-left:auto; 
    margin-right:auto;
    border: 3px solid grey;
}

.memberstableformat {
	font-size: 15px;
	width: 75%;
	margin-left:auto; 
    margin-right:auto;
    border: 3px solid grey;
}

.allmemberstableformat {
	font-size: 15px;
	width: 85%;
	margin-left:auto; 
    margin-right:auto;
    border: 3px solid grey;
}

thead {
	background-color: #f2f2f2;
	font-size: 15px;
	font-weight: bold;	
}

th, td {
    padding: 15px;
    text-align: left;
    text-align: center;
}

tr:nth-child(even) {background-color: #f2f2f2}

h1 {
	font-size: 6vh;
	color: #fff;
}

#centerbutton {
	text-align: center;
}

.smallerbutt {
	min-width: 100px !important;
}

.rc-anchor-light {
	width: 100%;

}