<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= render 'shared/logo' %>
    </div>

    <!-- Main Navigation -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to 'Team Home', team_path(current_team || @team) %>
        </li>
        <li>
          <%= link_to 'Logout', logout_path, method: :delete %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<br />

<%= render 'form' %>
